<p id="notice"><%= notice %></p>

<p>
  <strong>Page image:</strong>
  <%= image_tag("#{@page.page_image}", size: "100") %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<p>
  <strong>Story:</strong>
  <%= @page.story_id %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
