<h1>Editing Story</h1>

<%= render 'form' %>

<% @pages.each do |page| %>

  <p>
    <strong>Page number:</strong>
    <%= @count = @count + 1 %>
  </p>
  <p>
    <strong>Page image:</strong>
    <%= image_tag("#{page.page_image}", size: "50") %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= page.body %>
  </p>

  <td><%= link_to 'Edit', edit_page_path(page) %></td>

<% end %><br>

<%= link_to 'Add a new page', :controller => :pages, :action => :new, :id => @story.id %> | 

<%= link_to 'Back', stories_path %>
